.row {
	padding-left: 10px; 
	padding-right: 10px; 
	padding-top: 10px;
}
.image1{
	height:  28px;
	margin-left: 5px;
	margin-top: 6px;
}
#cit {
	padding-bottom: 7px;
}
#stat {
	padding-bottom: 7px;
}
#zip {
	padding-bottom: 7px;
}
#mail {
	padding-bottom: 7px;
}
#phone {
	padding-bottom: 7px;
}
#occupation {
	padding-bottom: 7px;
}
#spouse {
	padding-bottom: 7px;
}
#dom {
	padding-bottom: 7px;
}
#lname {
	padding-bottom: 7px;
}
#qual {
	padding-bottom: 7px;
}
#pintake {
	padding-bottom: 7px;
}
#count {
	padding-bottom: 7px;
}
#strea {
	padding-bottom: 7px;
}
.no {
	padding-top: 23px;
}
.marital {
	padding-top: 2px;
	padding-left: 15px;
}
.marry {
	padding-top: 27px;
	padding-left: 15px;
}
#add {
	padding-top: 2px;
}
#preferred {
	padding-top: 19px;
	padding-bottom: 7px;
}
.date {
	padding-top: 3px;
}
