*{margin:0px;
  padding-left:2px;
  padding-right:2px;}
.image1{
	height:  33px;
	margin-left: 5px;
	padding-bottom: 10px;
}
.no {
	padding-top: 23px;
}
.marital {
	padding-top: 10px;
}
.marry {
	padding-top: 34px;
}